@media (max-width: 600px), (max-height: 342px) {
	svg text { font-size: 28px; }
	}
	@media (max-width: 400px), (max-height: 235px) {
	svg text { font-size: 36px; }
	}
	
body {
	background: rgb(69, 69, 69);
}
.shit {
	fill: rgb(128, 0, 49);
	stroke-width: 2;
	rx: 8;
	ry: 4;
	
}

.shita {
	fill: red;
	transition: font-size 0.5s;
}
.shita:hover {
	fill: blue;
}